<div th:fragment="adminUsuarios">
    <!-- Encabezado de página -->
    <div class="page-header">

        <div>
            <h1 class="page-title">Usuarios</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Inicio</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </nav>
        </div>
        <div>
            <!-- Botón para abrir el modal nativo -->
            <button type="button" class="btn btn-primary" onclick="document.getElementById('nuevaNoticiaModal').showModal()">
                <i class="bi bi-plus-circle me-2"></i>
                Nuevo Usuario
            </button>

        </div>

    </div>
    <!-- Contenido específico de Noticias -->
    <main class="container">

    </main>

</div>
