<div th:fragment="adminFooter">

    <footer class="bg-dark text-light rounded shadow-sm m-4">
        <div class="container py-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span class="text-secondary small mb-2 mb-md-0">
                © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> 
                <span class="text-decoration-none text-light fw-semibold mx-2">DSI IV Ciclo - Elitec</span>. Todos los Derechos Reservados.
            </span>
            <ul class="nav small">
                <li class="nav-item">
                    <a class="nav-link px-2 text-secondary" th:href="@{/}">👈 INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-secondary" href="#">👆 SUBIR</a>
                </li>

            </ul>
        </div>
    </footer>

</div>