<div th:fragment="footer">

    <footer class="suscribete">
        <h1>Suscríbete para estar actualizado</h1>
        <center><input type="text" id="dato">
        <input type="button" value="Enviar" id="boton" onclick="suscribete()"></center>
    </footer>

    <footer class="aliadosP">
        <div class="aliados">
            <a href="https://www.upc.edu.pe/" target="_blank"><img th:src="@{/img/upc.jpg}" alt="aliado1" id="aliado1"></a>
            <a href="https://subcafaedrelm.com/" target="_blank"><img th:src="@{/img/subcafae.jpg}" alt="aliado2" id="aliado2"></a>
            <a href="https://www.gob.pe/minedu" target="_blank"><img th:src="@{/img/ministerio.jpg}" alt="aliado0" id="aliado0"></a>
            <a href="https://www.gob.pe/minedu" target="_blank"><img th:src="@{/img/aliado4.jpg}" alt="aliado4" id="aliado4"></a>
            <a href="https://granteatronacional.pe/" target="_blank"><img th:src="@{/img/aliado5.jpg}" alt="aliado5" id="aliado5"></a>
            <a href="https://muna.cultura.pe/" target="_blank"><img th:src="@{/img/aliado6.jpg}" alt="aliado6" id="aliado6"></a>
        </div>
    </footer>

    <footer class="pie">
        <div class="pie-de-pagina">
            <p>&copy; 2025 Cultura Ya! | Plataforma cultural para todos los peruanos. Todos los derechos reservados.</p>
        </div>
    </footer>

</div>