<nav th:fragment="navbar">

    <div class="menu" id="menu">
        <a th:href="@{/}"><button style="width: 140px;">INICIO</button></a>
        <a th:href="@{/publico/Nosotros}"><button style="width: 140px;">NOSOTROS</button></a>
        <a th:href="@{/publico/Agenda}"><button style="width: 140px;">AGENDA</button></a>
        <a th:href="@{/publico/Aliados}"><button style="width: 140px;">ALIADOS</button></a>
        <a th:href="@{/publico/Contacto}"><button style="width: 140px;">CONTACTO</button></a>
    </div>

    <div class="hamburguesa" id="hamburguesa">
        &#9776;
    </div>

</nav>