body{
    background-color: #f5f5f5;
}

/* Estilos header */
header{
    display: flex;
    align-items: center;
    background-color: #7c3aed;
}

header img{
    height: 120px;
    width: 150px;
}

header h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
}
 
/* Estilos nav*/
nav{
  background-color: #ffffff;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  position: sticky;
  top: 0;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 10px 10px;
  margin-block: 10px;
}

button{
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5b21b6;
  transform: translateY(-5px);
}

/* Estilo article*/
.nosotros h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #f97316;
  padding: 10px;
  padding-top: 50px;
  border-width: 5px;
  border-bottom: 5px double #f97316;
  padding-left: 145px;
}

article img {
  padding-top: 20px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #f97316;
  max-width: 600px;  
  min-width: 300px;    
  margin: 0 auto;    
  padding: 20px;        
  line-height: 1.6;    
}

article h3{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #f97316;
  text-align: center;
}

#erika{
  width: 300px;
}

/* Estilo footer*/
.suscribete{
  background-color: #7c3aed;
  padding: 5px 5px 20px 5px;
}

.suscribete h1{
  text-align: center;
}

footer h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

#boton{
  background-color: #f97316;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#dato{
 font-family: 'Poppins', sans-serif;
 width: 100%;       
 max-width: 400px;    
 height: 35px;       
 margin: 10px auto;     
 padding: 5px 10px;    
 box-sizing: border-box;
}

.aliados{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

#aliado0{
  width: 250px;
  height: 50px;
}

#aliado1{
  width: 180px;
  height: 80px;
}

#aliado2{
  width: 165px;
  height: 100px;
}

#aliado4{
  width: 165px;
  height: 160px;
}

#aliado5{
  width: 155px;
  height: 150px;
}

#aliado6{
  width: 155px;
  height: 80px;
}

.pie {
  background-color: #1a1463;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 5px;
}

.pie p{
  color: #ffffff;
}

/*menú hamburguesa*/

.hamburguesa {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}
.menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 100%; /* debajo del nav */
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    z-index: 100;
  }

  .menu.activo {
    display: flex;
  }

  .hamburguesa {
    display: block;
  }
}